@page "/commands"

@using Syncfusion.Blazor.Buttons

@inject HttpClient Http

<h3>Командный центр</h3>

<button class="btn btn-primary" @onclick="@(async () => await RunShopDirectoriesSync())">
    <i class="oi oi-folder" /> Запустить синхронизацию папок
</button>
<br />
<br />
<button class="btn btn-primary" @onclick="@(async () => await RunTranslations())">
    <i class="oi oi-info" /> Запустить перевод новых карточек
</button>
<br />
<br />
<button class="btn btn-primary" @onclick="@(async () => await RunRecalculation())">
    <i class="oi oi-reload" /> Запустить шаблоны
</button>
<br />
<br />
<button class="btn btn-primary" @onclick="@(async () => await RunReplacements())">
    <i class="oi oi-command" /> Запустить замены в тексте
</button>
<br />
<br />
<button class="btn btn-primary" @onclick="@(async () => await RunSameCards())">
    <i class="oi oi-image" /> Запустить поиск одинаковых товаров
</button>
<br />
<br />

@code {
    private async Task RunSyncShopDirectories()
    {
        await Http.PostAsync("Commands/SyncShopDirectories", null);
    }

    private async Task RunTranslations()
    {
        await Http.PostAsync("Commands/TranslateTexts", null);
    }

    private async Task RunRecalculation()
    {
        await Http.PostAsync("Commands/RecalculateCards", null);
    }

    private async Task RunSameCards()
    {
        await Http.PostAsync("Commands/MarkSameCards", null);
    }

    private async Task RunReplacements()
    {
        await Http.PostAsync("Commands/RecalculateTexts", null);
    }
}
