@using Integrator.Web.Blazor.Shared;

@using Integrator.Web.Blazor.Shared.Common
@using Integrator.Web.Blazor.Shared.Validators

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns

@inject HttpClient Http
@inject SfDialogService DialogSerivce

<SfDialog Width="500px" IsModal="true" @bind-Visible="@IsVisible" ShowCloseIcon="true" ID="EditThought">
    <DialogTemplates>
        <Header>
            @(IsEdit ? "Изменить" : "Добавить") запись
        </Header>
        <Content>
            <EditForm id="TemplateForm" Model="Model" OnValidSubmit="SubmitButtonClick">

                <FluentValidationValidator TValidator="TemplateEditViewModelValidator" />
                <div class="mb-4">
                    <ValidationSummary />
                </div>
                <div class="mb-4">
                    <label for="isRegexp" class="form-label">Тип поиска</label> <span class="oi oi-info" id="isRegexpInfo"></span><br/>
                    <SfRadioButton Name="isRegexp" Value="False" TChecked="bool" @bind-Checked="Model.IsRegexp" Label="Строка"></SfRadioButton><br />
                    <SfRadioButton Name="isRegexp" Value="True" TChecked="bool" @bind-Checked="Model.IsRegexp" Label="Регулярное выражение"></SfRadioButton><br />
                    <SfTooltip Position="Position.TopCenter" Target="#isRegexpInfo" Content="Выберите для корректной обработки.">
                    </SfTooltip>
                </div>
                <div class="mb-4">
                    <label for="searchText" class="form-label">@(Model.IsRegexp ? "Регулярное выражение поиска" : "Текст поиска")</label>
                    <InputText @bind-Value="@Model.SearchValue" class="form-control" id="searchText"></InputText>
                    <ValidationMessage For="@(() => Model.SearchValue)" />
                </div>
                <div class="mb-4">
                    <label for="searchField" class="form-label">Поле поиска.</label> <span class="oi oi-info" id="searchFieldInfo"></span>
                    <SfDropDownList ID="searchField"
                                    DataSource="SearchFields"
                                    TValue="int?"
                                    TItem="KeyValuePair<int, string>"
                                    @bind-Value="Model.SearchField">
                        <DropDownListFieldSettings Value="Key" Text="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                    <ValidationMessage For="@(() => Model.SearchField)" />
                    <SfTooltip Position="Position.TopCenter" Target="#searchFieldInfo" Content="Поле, по которому будет осуществляться поиск в таблице карточек.">
                    </SfTooltip>
                </div>
                <div class="mb-4">
                    <label for="applyField" class="form-label">Поле для применения</label>
                    <SfDropDownList ID="applyField"
                                    DataSource="ApplyFields"
                                    TValue="int?"
                                    TItem="KeyValuePair<int, string>"
                                    @bind-Value="Model.ApplyField">
                        <DropDownListFieldSettings Value="Key" Text="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                    <ValidationMessage For="@(() => Model.ApplyField)" />
                </div>
                <div class="mb-4">
                    <label for="applyValue" class="form-label">Значение для применения</label>&nbsp;<span class="oi oi-info" id="applyValueInfo"></span>
                    <InputText @bind-Value="@Model.ApplyValue" class="form-control" id="applyValue"/>
                    <ValidationMessage For="@(() => Model.ApplyValue)" />
                    <SfTooltip Position="Position.TopCenter" Target="#applyValueInfo" Content="При типе поиска 'Регулярное выражение' оставьте пустым, чтобы значение для установки свойства карточки взялось из группы регулярного выражения.">
                    </SfTooltip>
                </div>
                <div class="mb-4">
                    <label for="applyOrder" class="form-label">Порядок применения</label> <span class="oi oi-info" id="applyOrderInfo"></span>
                    <SfNumericTextBox Min="0" Max="1000" Step="10" TValue="int?" @bind-Value="Model.ApplyOrder" ID="applyOrder" />
                    <ValidationMessage For="@(() => Model.ApplyOrder)" />
                    <SfTooltip Position="Position.TopCenter" Target="#applyOrderInfo" Content="Сначала применяются шаблоны с пустым порядком, затем с меньшим порядком, затем - с большим. Последний примененный шаблон, подходящий по критериям, перезаписывает результат предшествующих.">
                    </SfTooltip>
                </div>
                <div class="mb-4">
                    <label for="notwes" class="form-label">Заметки, описание</label>
                    <InputTextArea @bind-Value="@Model.Description" class="form-control" Id="notwes" aria-describedby="notwesHelp"></InputTextArea>
                    <ValidationMessage For="@(() => Model.Description)" />
                    <div id="notwesHelp" class="form-text">Оставьте заметки о шаблоне.</div>
                </div>
                @{
                    if (IsEdit)
                    {
                        <div class="mb-4">
                            <button type="submit" class="btn btn-info" @onclick="() => Type = SubmitType.CheckExisting">Проверить количество (старая версия)</button>
                        </div>
                    }
                }
                <div class="mb-4">
                    <button type="submit" class="btn btn-info" @onclick="() => Type = SubmitType.CheckNew">Проверить количество (новая версия)</button>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Сохранить" form="TemplateForm" IsPrimary="true" Type="ButtonType.Submit" OnClick="() => Type = SubmitType.Save" CssClass="btn btn-success" />
        <DialogButton Content="Отмена" OnClick="CloseBtnClick"/>
    </DialogButtons>
</SfDialog>

@code {
    [Parameter]
    public IEnumerable<KeyValuePair<int, string>> SearchFields { get; set; }

    [Parameter]
    public IEnumerable<KeyValuePair<int, string>> ApplyFields { get; set; }

    public bool IsVisible { get; set; } = false;

    public bool IsEdit { get; set; }

    private SubmitType Type { get; set; } = SubmitType.Save;

    public TemplateEditViewModel Model { get; set; }

    public Action? SuccessCallback { get; set; }

    public TemplateCheckViewModel CheckModel { get; set; }

    public TemplateCheckViewModel CheckExistingModel { get; set; }

    protected override Task OnInitializedAsync()
    {
        Model = new();
        CheckModel = new();

        return base.OnInitializedAsync();
    }

    private void CloseBtnClick()
    {
        IsVisible = false;
    }

    private async Task SubmitButtonClick()
    {
        if (Type == SubmitType.Save)
        {
            CheckModel = await Http.PostResultAsJsonAsync<TemplateCheckViewModel, TemplateEditViewModel>(
                "Templates/Save", Model)
                ?? new();

            await ShowCheckDialog(CheckModel);

            Model = new ();
            CheckModel = new ();
            CheckExistingModel = new();

            if (SuccessCallback != null)
            {
                SuccessCallback();
            }

            IsVisible = false;
        }
        else if (Type == SubmitType.CheckNew)
        {
            CheckModel = await Http.PostResultAsJsonAsync<TemplateCheckViewModel, TemplateEditViewModel>(
                "Templates/Check", Model)
                ?? new();

            await ShowCheckDialog(CheckModel);

            CheckModel = new ();
        }
        else
        {
            CheckExistingModel = await Http.GetFromJsonAsync<TemplateCheckViewModel>(
                $"Templates/CheckExisting/{Model.Id}")
                ?? new();

            await ShowCheckDialog(CheckExistingModel);

            CheckExistingModel = new ();
        }
    }

    private async Task ShowCheckDialog(TemplateCheckViewModel model)
    {
        await DialogSerivce.AlertAsync(
            null, 
            "Количество карточек", new DialogOptions
            {
                ChildContent = @<text>
                    Найдено поиском шаблона по базе карточек: <strong>@model.CountAffected</strong>.<br/>
                    Будет применено алгоритмом при сохранении шаблона: <strong>@model.CountResulted</strong>.
                </text>
    });
    }

    private enum SubmitType
    {
        Save,
        CheckExisting,
        CheckNew
    }
}
