@page "/templates"

@using Integrator.Web.Blazor.Shared
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Popups;

@inject HttpClient Http
@inject SfDialogService SfDialogService;

<PageTitle>Созданные шаблоны структуры</PageTitle>

<h1>Созданные шаблоны структуры</h1>

<p>Созданные шаблоны структуры для обработки карточек.</p>

@if (templates == null)
{
    <p><em>Загрузка шаблонов структур...</em></p>
}
else
{
    <button class="btn btn-primary mt-2 mb-3" @onclick="AddBtnClick" type="button">
        <i class="oi oi-plus" /> Добавить шаблон структуры
    </button>

    <SfGrid ID="Grid"
            @ref="DataGrid"
            AllowFiltering="true"
            AllowSorting="true"
            AllowPaging="true"
            AllowGrouping="true"
            AllowTextWrap="true"
            DataSource="@templates"
            TValue="TemplateItemViewModel">

        <GridPageSettings PageSize="50"></GridPageSettings>
        <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
        <GridColumns>
            <GridColumn Field="@nameof(TemplateItemViewModel.Id)"
                        HeaderText="Номер"
                        Width="100"
                        AllowFiltering="true"
                        AllowGrouping="false" />
            <GridColumn Field="@nameof(TemplateItemViewModel.IsRegexp)"
                        HeaderText="Тип поиска"
                        Width="100"
                        AllowFiltering="true"
                        AllowGrouping="false">
                <Template>
                    @{
                        var model = (TemplateItemViewModel)context;
                        <text>@(model.IsRegexp ? "Регулярное выражение" : "Строка")</text>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(TemplateItemViewModel.SearchField)"
                        HeaderText="Поле поиска"
                        Width="100"
                        AllowFiltering="true"
                        AllowGrouping="true">
                <Template>
                    @{
                        var model = (TemplateItemViewModel)context;
                        <text>@(searchFields?.FirstOrDefault(x => x.Key == model.SearchField).Value)</text>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(TemplateItemViewModel.SearchValue)"
                        HeaderText="Значение поиска"
                        Width="150"
                        AllowFiltering="true"
                        AllowGrouping="true">
            </GridColumn>          
            <GridColumn Field="@nameof(TemplateItemViewModel.ApplyField)"
                        HeaderText="Поле для применения"
                        Width="100"
                        AllowFiltering="true"
                        AllowGrouping="true">
                <Template>
                    @{
                        var model = (TemplateItemViewModel)context;
                        <text>@(applyFields?.FirstOrDefault(x => x.Key == model.ApplyField).Value)</text>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(TemplateItemViewModel.ApplyValue)"
                        HeaderText="Применяемое значение"
                        Width="150"
                        AllowFiltering="true"
                        AllowGrouping="true">
                <Template>
                    @{
                        var model = (TemplateItemViewModel)context;
                        <text>@(model.IsRegexp && string.IsNullOrEmpty(model.ApplyValue) ? "<<значение группы>>" : model.ApplyValue)</text>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(TemplateItemViewModel.ApplyOrder)"
                        HeaderText="Порядок применения"
                        Width="100"
                        AllowFiltering="true"
                        AllowGrouping="true" />
            <GridColumn Field="@nameof(TemplateItemViewModel.Description)"
                        HeaderText="Описание"
                        Width="200"
                        AllowFiltering="true"
                        AllowGrouping="true">
            </GridColumn>
            <GridColumn Field="@nameof(TemplateItemViewModel.CheckViewModel.CountAffected)"
                        HeaderText="Кол-во совпадений"
                        Width="100"
                        AllowFiltering="true"
                        AllowGrouping="true" />
            <GridColumn Field="@nameof(TemplateItemViewModel.CheckViewModel.CountResulted)"
                        HeaderText="Кол-во применений"
                        Width="100"
                        AllowFiltering="true"
                        AllowGrouping="true">
            </GridColumn>
            <GridColumn HeaderText="Действия"
                        Width="100">
                <Template>
                    @{
                        var model = (TemplateItemViewModel)context;
                    }
                    <button class="btn btn-success" @onclick="@(async () => await EditBtnClick(model.Id))">
                        <i class="oi oi-pencil" /> Изменить
                    </button>
                    <button class="btn btn-danger" @onclick="@(async () => await DeleteBtnClick(model.Id))">
                        <i class="oi oi-trash" /> Удалить
                    </button>
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    <TemplateEditView @ref="TemplateEditView" SearchFields="searchFields" ApplyFields="applyFields" />
}

@code {
    private SfGrid<TemplateItemViewModel> DataGrid;
    private TemplateEditView TemplateEditView;

    IEnumerable<KeyValuePair<int, string>>? searchFields;
    IEnumerable<KeyValuePair<int, string>>? applyFields;
    private TemplateItemViewModel[]? templates;

    protected override async Task OnInitializedAsync()
    {
        searchFields = await Http.GetFromJsonAsync<IEnumerable<KeyValuePair<int, string>>>("Templates/GetAvailableSearchFields");
        applyFields = await Http.GetFromJsonAsync<IEnumerable<KeyValuePair<int, string>>>("Templates/GetAvailableApplyFields");

        templates = await Http.GetFromJsonAsync<TemplateItemViewModel[]>("Templates/GetList");
    }

    private void AddBtnClick()
    {
        if (TemplateEditView.IsEdit == true)
        {
            TemplateEditView.Model = new TemplateEditViewModel();
            TemplateEditView.CheckModel = new TemplateCheckViewModel();
            TemplateEditView.CheckExistingModel = new TemplateCheckViewModel();
        }

        TemplateEditView.IsEdit = false;
        TemplateEditView.IsVisible = true;
        TemplateEditView.SuccessCallback = async () => await Refresh();
    }

    private async Task EditBtnClick(int id)
    {
        var model = await Http.GetFromJsonAsync<TemplateEditViewModel>($"Templates/Get/{id}");
        if (model != null)
        {
            TemplateEditView.Model = model;
            TemplateEditView.IsEdit = true;
            TemplateEditView.IsVisible = true;
            TemplateEditView.SuccessCallback = async () => await Refresh();
        }
        else
        {
            await SfDialogService.AlertAsync("Шаблон структуры не найден.");
        }
    }

    private async Task DeleteBtnClick(int id)
    {
        var checkModel = await Http.GetFromJsonAsync<TemplateCheckViewModel>($"Templates/CheckExisting/{id}");

        if (checkModel == null)
        {
            await SfDialogService.AlertAsync("Шаблон структуры не найден.");
            return;
        }

        var confirmed = await SfDialogService.ConfirmAsync("Вы действительно хотите удалить шаблон структуры?", "Подтверждение действия", new()
            {
                ShowCloseIcon = true,
                PrimaryButtonOptions = new()
                {
                    IconCss = "oi oi-trash"
                },
                CancelButtonOptions = new()
                {
                    Content = "Отмена",
                },
                ChildContent = @<text>
                                    Найдено поиском шаблона по базе карточек: <strong>@checkModel.CountAffected</strong>.<br />
                                    Будет применено алгоритмом при сохранении шаблона: <strong>@checkModel.CountResulted</strong>.
                                </text>
            });

        if (confirmed)
        {
            var successResponse = await Http.PostAsync($"Templates/Delete/{id}", null);

            if (bool.TryParse(await successResponse.Content.ReadAsStringAsync(), out var success) && success)
            {
                await SfDialogService.AlertAsync("Шаблон структуры успешно удален.");
                await Refresh();
            }
            else
            {
                await SfDialogService.AlertAsync("Произошла ошибка при удалении шаблона структуры.");
            }
        }
    }

    private async Task Refresh()
    {
        templates = await Http.GetFromJsonAsync<TemplateItemViewModel[]>("Templates/GetList");
        await InvokeAsync(StateHasChanged);
        await DataGrid.Refresh();
    }
}